#impt_table{
    border-collapse:collapse;
    font-size: 20px;
    text-align: center;
    border-color:blueviolet;
    background-color: antiquewhite;

}
#impt_table >th,td{
    padding:10px;
}
.import_table{
    margin-left: 15%;
  
}
#impt_table >td:nth-child(2){
    width: 70%;
}
#impt_table >tr:nth-child(1),th:nth-child(3){
    border-bottom: 2px solid brown;
}

