@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

  }
  body{
    font-family: 'Roboto', sans-serif,'Times New Roman';  
}
  nav{
    background: #0082e6;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
    /* text-shadow : 0 0 10px #333; */
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  #mkce_logo{
      margin: 4px 0px 0px 8px;
      background-color: white;
      padding: 2px;

  }
  #conference_logo{
      width: 200px;
      margin: 50px 0px 0px 30px;
      border-radius: 50%;
  
  }

  
  .header{
      display: flex;
      width:100%;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #EBEBFB;
      height: 400px;
      margin-top: 70px;
    }
.conference_logo{
    flex:0.2;
}
    .title{
        flex:0.8;
    }
  .title h1{
      text-align: center;
     margin:30px 0px 0px 0px;
     width: 100%;
     color: #324272 ;
     font-weight: 800;
  }
 
  .title h5{
    /* margin-left: 400px; */
    text-align: center;
    font-size: 20px;
    width: 100%;
  }
  .title span{
    /* margin-left: -170px; */
    text-align: center;
    font-size: 20px;
    width: 100%;
  }
  .blink_me {
    animation: blinker 1s linear infinite;
    /* margin-left: 330px; */
    text-align: center;
    width: 100%;
    color: red;
    font-size: 25px;
    font-weight: 700;
  }
  .college_name{
     width: 100%;
     font-size: 25px;
     font-weight: 700;
     /* margin-left: 200px ; */
     text-align: center;
     word-spacing: 10px;
     color: brown;
    }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  
  .remember h3,.registration h3, .manuscript h3{
      text-align: center;
      background-color: #ffffff;
      margin: 5px 0px 15px 0px;
      font-size: 1.5rem;
      font-family: sans-serif;
    text-decoration:3px underline teal;
  }
  .remember_data_content{
      /* background-color: #f5f9cb; */
      background-color: #ADD8E6;
      /* background-color: #EBEBFB; */
      padding: 45px 50px 45px 10px;
      display: flex;
      justify-content: space-between;
  }
  .remember_data_content img{
    width: 250px;
    height: 100px;
  }
  
  #date{
    color: green;
    font-size: 1.5rem;
  }
  .container{
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: row;
    background-color: hsl(65, 79%, 89%);
  }

  .registeration_data_content{
    padding: 45px;
    flex: 0.5; 
  }

  .registeration_data_content h5{
    text-decoration:3px underline teal;
  }

  .con2{
    width: 100%;
    padding: 45px;
    flex: 0.5;
  }
  
  .con2 h5{
    text-align: left;
    font-size: 1.2rem;
    color: green;
    text-decoration:3px underline teal;
  }

  .registeration_data_content h5{
    font-size: 1.2rem;
    text-align: left;
    color: green;
  }

  #fees{
    border: 2px solid teal;
    width: 500px;
    margin-top: 25px;
    text-align: center;
    border-collapse: collapse;
  }

  #fees th{
    text-align: center;
    padding: 10px;
    color: red;
    font-size: 18px;
  }

  #fees td{
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #324272;
  }

 #fees tr:nth-child(1){
  border-bottom: 2px solid teal;
 }

 #fees tr:nth-child(2){
  border-bottom: 1px solid teal;
 }

 #fees tr:nth-child(3){
  border-bottom: 1.5px solid teal;
 }


#accomodation_para{
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 30px;
  font-weight: bold;

  color: brown;
  text-align: justify;
}
.manuscript_content{
  background-color: lightcoral;
  height: 230px;
  padding-right: 25px;
}


.manuscript_content ul{
  list-style-type: none;
  margin: 10px 0px 0px 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  word-spacing: 5px;
  line-height: 2;
}
.fas{
  padding: 10px;
  /* color: black; */
}
.manuscript_content a{
  text-decoration: underline;
  background-color: #2c3e50;
  color: white;
  padding: 6px;
}

.college_photo{
  width: 100%;
}

.content{
  width: 100%;

}
.about {
font-family: monospace;
text-align: center;
}

.about_college h3,.about_department h3,.about_conference h3{
  font-size: 24px;
  font-family: sans-serif;
}

.about_college p,.about_department p,.about_conference p{
  font-size: 20px;
  font-weight: 100;
  margin: 10px 12px 10px 24px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 28px;
  color: lightcoral;
}

.material-icons{
  font-size:16px !important;
  margin-right: 4px;
  transform:translate(0 , 12%)
}
